# Studi Kasus

## Misi:
Antara memberikan aku sebuah dataset untuk dipersiapkan dan dibersihkan. Namun, dataset yang dikirimkan masih berupa data kotor, missing, dan terdapat duplikat. Sehingga aku harus bisa menemukan data yang hilang serta menghapus data yang terduplikat sehingga data bisa dengan mudah untuk dianalisis lebih jauh. Setelah menghapus data yang duplikat, aku harus mengecek kembali berapa jumlah data yang tersisa.

## Instruksi Pengerjaan:
Pada misi kali ini, ada beberapa hal yang harus kita lakukan.
1.	Menampilkan jumlah data yang duplikat pada dataset
2.	Menampilkan jumlah missing value pada dataset
3.	Melakukan drop pada baris yang memiliki missing value
4.	Menampilkan jumlah data yang tersisa setelah melakukan drop

In [1]:
import pandas as pd

In [7]:
# Load Dataset
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/HousingData.csv')

In [9]:
# Mencetak isi dataFrame
print(df)

        CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93   0.0  0.573  6.030   NaN  2.5050    1  273

     PTRATIO       B  LSTAT  MEDV
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90    NaN  36.2
..       ...     ...    ...   ...
501     21.0  391.99    NaN  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [3]:
# Tampilkan jumlah data duplikat
print(df.duplicated().sum())

0

In [4]:
# Tampilkan jumlah data yang missing
print(df.isna().sum())

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [5]:
# Drop baris yang mempunyai baris kosong
df = df.dropna()

In [6]:
# Tampilkan berapa baris sisa dari data yang sudah didrop
print(df.shape)

(394, 14)